body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.section {
    width: 100%;
    padding: 50px 0;
}

.first-section {
    background: rgba(0, 0, 0, 0.2);
}

.menu {
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinha os itens do menu à esquerda */
}

.menu li {
    display: inline-block;
    padding: 20px; /* Reduz o espaçamento entre os itens do menu */
    color: white;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    font-size: larger;
}

.rounded-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.second-section {
    background: lightgray;
    display: flex;
}

.section-image {
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: center left;
    width: 350px;
    height: 400px;
    margin: auto;
}

.section-text {
    width: 50%;
    padding: 15px;
    margin-left: -150px;
    margin-top: -40px;
    padding-right: 150px;
}

.section-text h1 {
    margin-bottom: 20px;
    margin-top: 50px;
}

.section-text p {
    margin-bottom: 20px;
}

.third-section {
    background: #f8f8f8;
    text-align: center;
}

.third-section h1 {
    margin-bottom: 20px;
}

.boxes {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.box {
    width: calc(25% - 20px);
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box h3 {
    margin-bottom: 20px;
}

/**************************************************************/
#rectangle {
    width: 715px; /* largura do retângulo */
    height: 170px; /* altura do retângulo */
    border: 2px solid orange; /* borda laranja com espessura de 1px */
    display: flex; /* permite que o conteúdo da div seja organizado em colunas */
  }
  
  .column {
    width: 50%; /* cada coluna ocupa 50% da largura do retângulo */
    padding-left: 20px;
  }
  .left {
    text-align: justify; /* alinhamento do texto à esquerda */
  }
  .right {
    text-align: justify; /* alinhamento do texto à direita */
  }
  
  .botaocurriculo{
    width: 200px;
    height: 25px;
    border-radius: 7px;
    margin-top: 10px;
    font-size: 15px;
  }